<p>
    <mat-toolbar class="bg-darkl1"
        style="color: aquamarine; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <img src="https://cdn-icons-png.flaticon.com/512/2513/2513165.png" style="max-height: 95%;" alt="index">
        <span>{{'PruebaIx' | uppercase }}</span>
    </mat-toolbar>
</p>
<mat-tab-group style="align-items: center; block-size: auto;">
    <mat-tab label="First">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" style="color: aliceblue;">home</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab label="Second">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" style="color: aliceblue;">insert_emoticon</mat-icon>
        </ng-template>
    </mat-tab>
    <mat-tab label="Third">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" style="color: aliceblue;">live_help</mat-icon>
        </ng-template>
    </mat-tab>
</mat-tab-group>